$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";

$ltDesktop: "(max-width: 991px)";
$gtTablet: "(min-width: 992px)";
$gtMobile: "(min-width: 768px)";

$xsMobile: "(max-width: 359px)";

$mobile: "(max-width: 767px)";

$small: "(min-width: 768px) and (max-width: 991px)";

$normal: "(min-width: 992px) and (max-width: 1199px)";

$large: "(min-width: 1200px)";

$wide: "(min-width: 1500px)";

$gtWide: "(min-width: 1921px)";