// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

@import "admin";

@import "~lightbox2/src/css/lightbox.css";

html {
  body {
    font-size: $font-size-base;
    font-family: $font-family-base;

    h1,h2,h3,h4,h5,h6 {
      font-family: $font-family-header;
    }

    div, span, p, a{
      font-size: 1.2rem;
      line-height: 2rem;
    }

    #main_app {
      position: relative;
      overflow: hidden;

      header {

        .header-bg {
          background-image: url('/images/banner-image.png');
          background-size: cover;
          width: 100%;
          height: 100px;
        }

        .nav {

          .nav-item {
            margin-right: 10px;
            margin-left: 10px;

            .nav-link {
              font-size: 1.2rem;
              text-transform: uppercase;
              color: black;

              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }

      .main-area {
        min-height: 688px;

        &.medium{
          min-height: 420px;
        }

        .page-title{
          font-size: 3rem;
        }

        .alesco-logo {
          width: 100%;
        }
      }

      .page-content {

        &.left-bar {
          border-left: 3px solid black;
          padding-left: 1.3rem;
        }
      }

      footer {

        .bottom-swirl {
          background-image: url('/images/swirls.png');
          background-size: 100%;
          width: 100%;
          height: 500px;
          position: absolute;
          bottom: -100px;
          right: -35px;
        }

      }
    }

  }
}